@import 'reset.css';

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
}

.navbar {
    width: 100%;
    text-align: center; 
    padding: 20px;
    font-size: 36px;
}

.intro {
    font-size: 2em;
}

.titles {
    text-align: center;
    width: 100%;
    margin-bottom: 1%;
}

/* .your-bag { */
/*     display: inline-block; */
/*     width: 49%; */
/*     /\* margin-left: 19%; *\/ */
/*     /\* margin-right: 19%; *\/ */
/* } */

/* .list-devices { */
/*     width: 49%; */
/*     display: inline-block; */
/*     /\* margin-left: 19%; *\/ */
/*     /\* margin-right: 19%; *\/ */
/* } */

.container {
    text-align: center;
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
}

.bag {
    border: solid 1px #7A7A7A;
    width: 35%;
    display: inline-block;
    margin: 0;
    overflow-y: scroll;
    box-sizing: border-box;
    cursor: default;
    overflow-x: hidden;
    border-radius: 4px;
    height: 100%;
    color: #55A92C;
    padding-left: 2%;

}

.search-bar {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
    /* border: 1px solid #C2C2C2; */
    border: none;
    border-bottom: 5px solid #C2C2C2;
    font-size: 18px;
    padding-bottom: 6px;
    padding-top: 6px;
}

.search-bar:focus {
    outline: none;
}

.bag-tabs {
    list-style: none;
    text-align: left;
}

.bag-tabs li {
    display: block;
    /* border: 1px solid green; */
    display: inline-block;
    
}

.device-list {
    border: solid 1px #7A7A7A;
    border-radius: 4px;
    width: 65%;
    display: inline-block;
    padding-left: 10px;
    overflow-y: scroll;
    box-sizing: border-box;
    overflow-x: hidden;
    text-align: center;
    cursor: default;

}

.tabs {
    list-style: none;
    text-align: left;
    padding-left: 2%;
    padding-right: 10px;
}

.list-of-devices {
    background-color: #fff;
    padding: 5px;
    margin: 4px;
    display: block;
    /* border: 1px solid red; */
    box-shadow: 0.5px 0.5px 1px 1px #C7C7C7;
    border-radius: 3px;
    display: inline-block;
    color: #412CA9;
}

.bag h1 {
    font-size: 48px;
    margin: 10px;
    font-weight: 800;
}

.title-device h1 {
    font-size: 48px;
    margin: 10px;
    color: #55A92C;
    font-weight: 800;
}

.path-device {
    text-align: left;
    font-weight: 400;
    color: #404040;
    display: inline-block;
    /* position: fixed; */
    /* bottom: 0; */
    /* padding-bottom: 20px; */
}

.path {
    /* padding-left: 10px; */
    width: 100%;
    font-size: 22px;
    font-weight: 800;
    text-align: left;
}

.back {
    padding-right: 8px;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    color: #404040;
}

.back-button {
    display: inline-block;
    padding: 5px;
    margin-bottom: 6px;
    text-align: left;
    margin-left: 10px;
}

.path-button {
    text-align: center;
}
